<div class='container'>
  <h2>Umar's Todo List</h2>
  <form [formGroup]="todoForm" (ngSubmit)="Add()">
    <label>Title</label>
    <input type="text" placeholder="Title" formControlName="title" id="title">
    <input type="submit" value="Add" id="add">
  </form>
     <!-- <hr> -->
    <div class="todoList">
      <div class="todoItem" *ngFor="let todo of todoList">
        <div class = "checkTitle">
          <input #todoChecked type="checkbox" [checked]="todo.done" (change)="TodoChecked(todoChecked.checked, todo.title)" id="todoTitle">
          <span *ngIf="todo.done; else elseBlock"><s>{{ todo.title }}</s></span>
        </div>
        <ng-template #elseBlock>{{ todo.title }}</ng-template>
        <button (click) = "Remove(todo.title)" id = "delete">delete</button>
      </div>
    </div>
  
    <button (click) = "RemoveCompleted()" id="removeCompleted">Remove Completed</button>
    <button (click) = "RemoveAll()" id = "removeAll">Remove All</button>
</div>
